/* debug */

[class*="col-"] {
    background-color: #006cfa;
    min-height: 60px;
    border: 1px solid white;
}

.green{
    background-color: #00e165;
}

.container-fluid{
    margin-bottom: 20px;
}

.row{
    border: 1px solid black;
}

.flex{
    display: flex;
}

.internal{
    width: 95%;
    height: 80%;
    margin: auto;
    
}
.higher{
    height: 100px;
}
